{{- if eq .chezmoi.os "windows" }}
:: upgrade choco .exe and add choco to PATH
@powershell -NoProfile -ExecutionPolicy Bypass -Command "iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))" && SET "PATH=%PATH%;%ALLUSERSPROFILE%\chocolatey\bin"
choco feature enable -n allowGlobalConfirmation

:: upgrade all the packages

:::: DEV TOOLS
choco upgrade git -y
choco upgrade golang -y
choco upgrade vscode -y

:::: MEDIA
choco upgrade spotify -y

:::: CLI TOOLS
choco upgrade starship -y
choco upgrade zoxide -y

:::: UTILS
choco upgrade powertoys -y

{{- end }}
